In [9]:
# %cd Birth_CDC/
%ls

 Volume in drive C has no label.
 Volume Serial Number is 4CD3-B1F1

 Directory of C:\Users\AMOS OSHIYOYE\Downloads\Github\Birth_CDC

09/15/2022  01:54 AM    <DIR>          .
09/15/2022  01:54 AM    <DIR>          ..
               0 File(s)              0 bytes
               2 Dir(s)  128,335,691,776 bytes free

In [11]:
import pandas as pd
import numpy as np

In [13]:
birth = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv')

In [14]:
birth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15547 entries, 0 to 15546
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    15547 non-null  int64
 1   month   15547 non-null  int64
 2   day     15067 non-null  float64
 3   gender  15547 non-null  object
 4   births  15547 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 607.4+ KB

In [15]:
birth.describe()

               year         month           day         births
count  15547.000000  15547.000000  15067.000000   15547.000000
mean    1979.037435      6.515919     17.769894    9762.293561
std        6.728340      3.449632     15.284034   28552.465810
min     1969.000000      1.000000      1.000000       1.000000
25%     1974.000000      4.000000      8.000000    4358.000000
50%     1979.000000      7.000000     16.000000    4814.000000
75%     1984.000000     10.000000     24.000000    5289.500000
max     2008.000000     12.000000     99.000000  199622.000000

In [34]:
for a,b in birth.groupby('gender')['births']:
    print(f'{a}":"{b.count()}')

F":"7776
M":"7771

In [39]:
len(birth[birth['gender']=='F'])

7776